[Unit]
Description=Run sample.py script as ec2-user
BindsTo=i3-session.target

[Service]
ExecStart=/usr/bin/bash -c 'DISPLAY=:0 DESKTOP_SESSION=i3 XDG_SESSION_TYPE=x11 DBUS_SESSION_BUS_ADDRESS="unix:path=/run/user/1000/bus" /home/mikamo/bin/dwall_select'


[Install]
WantedBy=i3-session.target
