xrdb -merge $HOME/.Xresources

export XDG_CONFIG_HOME=$HOME/.config
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

export TERMINAL=alacritty
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

xrandr --fb 9000x2160 --output DisplayPort-0 --primary --pos 0x0 --scale 1.5x1.5 --mode 3440x1440 --output DisplayPort-1 --pos 5160x0 --mode 3840x2160 --rate 60
