xrdb -merge $HOME/.Xresources

export XDG_CONFIG_HOME=$HOME/.config
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

export SSH_AUTH_SOCK=$XDG_RUNTIME_DIR/gcr/ssh

if [ "$XDG_SESSION_TYPE" = "x11" ]; then
  dex -a
fi
