{{- if eq .chezmoi.hostname "mainpc" -}}
[
  {
    "output": "HDMI-A-1",
    "height": 38,
    "layer": "top",
    "position": "top",
    "spacing": 6,
    "margin-top": 4,
    "margin-left": 16,
    "margin-right": 16,
    "modules-left": [
      "hyprland/workspaces",
      "hyprland/submap",
      "hyprland/window"
    ],
    "modules-center": [
      "clock",
      "custom/weather"
    ],
    "modules-right": [
      "custom/display",
      "bluetooth",
      "wireplumber",
      "network",
      "cpu",
      "memory",
      "disk",
      "custom/topproc",
      "custom/uptime",
      "custom/updates",
      "tray"
    ],
    "include": "~/.config/waybar/modules.json"
  },
  {
    "output": "HDMI-A-2",
    "height": 38,
    "layer": "top",
    "position": "top",
    "spacing": 6,
    "margin-top": 4,
    "margin-left": 16,
    "margin-right": 16,
    "modules-left": [
      "hyprland/workspaces",
      "hyprland/submap",
      "hyprland/window"
    ],
    "modules-center": [
      "clock",
      "custom/weather"
    ],
    "include": "~/.config/waybar/modules.json"
  }
]
{{- else }}
[
  {
    "output": "TODO_{{ .chezmoi.hostname }}",
    "height": 38, "layer": "top", "position": "top",
    "modules-left": ["hyprland/workspaces"],
    "modules-center": ["clock"],
    "modules-right": ["tray"]
  }
]
{{- end }}
