/* Catppuccin Mocha Color Palette */
/*
  @define-color base #1e1e2e;
  @define-color mantle #181825;
  @define-color surface0 #313244;
  @define-color surface1 #45475a;
  @define-color surface2 #585b70;
  @define-color text #cdd6f4;
  @define-color subtext1 #bac2de;
  @define-color subtext0 #a6adc8;
  @define-color lavender #b4befe;
  @define-color blue #89b4fa;
  @define-color sapphire #74c7ec;
  @define-color sky #89dceb;
  @define-color teal #94e2d5;
  @define-color green #a6e3a1;
  @define-color yellow #f9e2af;
  @define-color peach #fab387;
  @define-color maroon #eba0ac;
  @define-color red #f38ba8;
  @define-color mauve #cba6f7;
  @define-color pink #f5c2e7;
  @define-color flamingo #f2cdcd;
  @define-color rosewater #f5e0dc;
*/

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: monospace;
  font-size: 20px;
  border-radius: 50px;
}

window#waybar {
  /* `otf-font-awesome` is required to be installed for icons */
  background-color: transparent;
  border-bottom: 0px;
  color: #cdd6f4; /* text */
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

.modules-right {
  margin: 0px 10px 0 0;
}

.modules-center {
  margin: 0px 10px 0 10px;
}

.modules-left {
  margin: 0 0 0 0;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* box-shadow: inset 0 -3px transparent; */
  border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ebdbb2;
} */

#workspaces {
  background-color: #1e1e2e; /* base */
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #cdd6f4; /* text */
  border-radius: 0;
}

#workspaces button:first-child {
  border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
  border-radius: 0 5px 5px 0;
}

#workspaces button:hover {
  color: #f9e2af; /* yellow */
}

#workspaces button.focused {
  background-color: #45475a; /* surface1 */
  /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
  background-color: #f38ba8; /* red */
}

#idle_inhibitor,
#cava,
#scratchpad,
#mode,
#window,
#clock,
#battery,
#backlight,
#wireplumber,
#tray,
#mpris,
#cpu,
#memory,
#network,
#disk,
#wireplumber,
#bluetooth,
#load,
#custom-weather,
#custom-updates,
#custom-topproc,
#custom-display,
#user {
  padding: 0 10px;
  background-color: #1e1e2e; /* base */
  color: #cdd6f4; /* text */
}

#submap {
  background-color: #a6e3a1; /* green */
  color: #1e1e2e; /* base */
  /* box-shadow: inset 0 -3px #ffffff; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#cava {
  padding: 0 5px;
}

#battery.charging,
#battery.plugged {
  background-color: #a6e3a1; /* green */
  color: #1e1e2e; /* base */
}

@keyframes blink {
  to {
    background-color: #1e1e2e; /* base */
    color: #cdd6f4; /* text */
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f38ba8; /* red */
  color: #cdd6f4; /* text */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #45475a; /* surface1 */
}

#wireplumber.muted {
  background-color: #89b4fa; /* blue */
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}

#mpris.playing {
  background-color: #f9e2af; /* yellow */
  color: #1e1e2e; /* base */
}

#tray menu {
  font-family: sans-serif;
}

#scratchpad.empty {
  background: transparent;
}