[Desktop Entry]
Version=1.0
Name=Firefox (work)
GenericName=Web Browser
Comment=Browse the World Wide Web with work profile
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=firefox -P "work" --no-remote
Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;
