[Unit]
Description=RClone Service
Wants=network-online.target
After=network-online.target
AssertPathIsDirectory=/home/mikamo/google-drive

[Service]
Type=notify
Environment=RCLONE_CONFIG=/home/mikamo/.config/rclone/rclone.conf
RestartSec=10
ExecStart=/usr/bin/rclone mount google-drive: /home/mikamo/google-drive \
   --allow-other \
   --dir-cache-time 5000h \
   --syslog \
   --poll-interval 10s \
   --umask 0000 \
   --user-agent GoogleDrive \
   --cache-dir=/home/mikamo/.rclonecache \
   --vfs-cache-mode full \
   --volname google-drive \
   --vfs-cache-max-size 60G \
   --vfs-read-chunk-size 128M \
   --vfs-read-ahead 2G \
   --vfs-cache-max-age 5000h \
   --bwlimit-file 100M

ExecStop=/bin/fusermount -uz /home/mikamo/google-drive
Restart=on-failure

[Install]
WantedBy=default.target
